

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
h2 {
    text-transform: uppercase;
    color: #00aeef;
}
a:hover{
text-decoration: none !important;
}
p, div, h1, h2, h3, h4, h5, h6, li, span, b, strong{
  font-family: 'Poppins', sans-serif;
}
.menu-top a {
    margin: 0 15px 0px 0;
}
.top-header {
    padding: 5px 0;
}
.row{
    margin-right: unset;
    margin-left: unset;
}
.top-header a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.phone-top i.fa.fa-phone {
    transform: rotate(260deg);
}
a.navbar-brand {
    font-size: 35px;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 30px;
    font-weight: 700;
}
a.navbar-brand img {
    width: 100%;
}
.nav-link {
    display: inline-block;
}
.sign-header button {
    border: none;
    background-color: #04d2c8;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 13px;
}
.sign-header .right button:first-child {
    margin-right: 20px;
}
.sign-header button a {
    color: #fff;
}
header li.nav-item a {
    font-size: 18px;
    font-weight: 300;
    color: #000 !important;
    transition: .3s;
    position: relative;
}
header li.nav-item a:hover  {
    color: #00aeef !important;
    transition: .3s;
}
header li.nav-item a i.fa {
    margin-right: 3px;
}
header li.nav-item {
    margin: 0 15px;
}
.menu-main {
    text-align: left;
    width: 100%;
    justify-content: flex-end !important;
}

header {
    width: 100%;
}
.sign-header button:last-child {
    background-color: #3e436b;
}
li.nav-item.active {
    position: relative;
}
li.nav-item.active a.nav-link:before {
    content: "";
    height: 6px;
    width: 75%;
    background-color: #ff9a00;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.carousel-indicators {
    position: relative;
    top: 30px;
    margin: 20px 0;
}
.carousel-indicators .active {
    background-color: #04d2c8;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    border-radius: 100%;
    margin: 0 10px;
}
/*header-style*/


/*banner-style*/

.banner img {
    width: 100%;
}
.banner {
    position: relative;
}
.banner-content {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
}
.banner-content h1 {
    font-weight: 700;
    color: #ffffff;
    line-height: 1.4em;
    font-size: 56px;
    width: 65%;
    margin: 0 auto;
    text-align: center;
}
.banner-content form {
    width: 60%;
    margin: 0 auto;
}
.banner-content input {
    border-color: #ffffff;
    padding: 15px 10px;
    background-color: transparent;
}
.banner-content input#email {
    color: #fff;
}
.banner:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.banner-content button {
    padding: 10px 50px;
    background-color: #ff9a00;
    border-color: #ff9a00;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    font-size: 17px;
    font-weight: 700;
}
.banner-content p {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.banner-content form .form-control:hover, .banner-content form .form-control:focus {
    background: transparent;
}
.banner-content button:hover {
    background-color: #000;
    border-color: #000;
}
.banner_arrow {
    padding: 0 0 70px;
    position: relative;
    margin: 0 0 80px;
}
.banner_arrow img {
    position: absolute;
    left: 0px;
    right: 0;
    margin: 0 auto;
    bottom: 40px;
}
main {
    position: relative;
}
button.required {
    background-color: #3e436b;
    border: none;
    padding: 10px 60px;
    position: absolute;
    left: -117px;
    z-index: 99;
    transform: rotate(-90deg);
    top: 710px;
}
button.required a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
section.my-testimonial.slider.slick-initialized.slick-slider.slick-dotted{
overflow:hidden;
}
/*banner-style*/

/*sec-1-style*/
.wave-content {
    text-align: center;
}
.wave-content h6 {
    font-size: 16px;
    color: #999999;
    font-weight: 700;
    padding: 0 0 20px;
}
.wave-content h2 {
    font-size: 42px;
    font-weight: 700;
    color: #42495b;
    text-transform: inherit;
    position: relative;
    padding: 0px 0 20px;
}
.wave-content h2::before {
    content: "";
    height: 6px;
    width: 6%;
    background-color: #ff9a00;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.wave-content h2 span {
    color: #04d2c8;
}
.wave-content h5 {
    font-size: 16px;
    color: #444444;
    font-weight: 700;
    padding: 20px 0 30px;
}
.wave-content p {
    font-size: 16px;
    color: #9e9e9e;
    margin: 0 0 80px;
}
/*sec-1-style*/

.inner-course img {
    margin: 0 auto;
    display: block;
    width: 50px;
}
.course-footer h5 {
    font-size: 18px;
    font-weight: 700;
    color: #42495b;
    text-align: center;
}
.inner-course {
    margin: 0 0 30px 0;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(2,1,1,0);
    box-shadow: 0 10px 25px 0 rgba(0,0,0,.06);
    padding: 20px 0 0;
}
.inner-course .course-footer {
    background: #fff;
    padding: 30px 20px;
    position: relative;
}

/*about_wrap*/

.about_wrap {
    background-color: #f7f7f7;
    padding: 120px 0;
    margin: 90px 0 0;
}
.inner-sec img {
    width: 100%;
    position: relative;
}
.inner-sec {
    position: relative;
    padding: 70px;

}
.inner-sec::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #04d2c8;
    width: 80%;
    height: 100%;
    top: 0;
    border-radius: 10px;
}
.inner-left h2 {
    font-size: 42px;
    font-weight: 700;
    color: #42495b;
    position: relative;
}
.inner-left h2::before {
    content: "";
    height: 6px;
    width: 16%;
    background-color: #ff9a00;
    position: absolute;
    left: 0;
    top: 60px;
}
.inner-left h6 {
    color: #999999;
    font-size: 16px;
}
.inner-left h2 span {
    color: #04d2c8;
}
.inner-left p {
    font-size: 16px;
    color: #595959;
    font-weight: 300;
    margin: 50px 0;
}
.btn_inner a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.btn_inner {
    background-color: #ff9a00;
    width: 50%;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn_inner img {
    width: 30px;
    margin: 0 0 0 20px;
}


/*practice_wrap*/

.practice_wrap {
    padding: 80px 0;
}
.position-relative {
    position: relative!important;
}
.practice-inner.position-relative h5 {
    font-size: 24px;
    color: #42495b;
    font-weight: 700;
}
.practice-inner.position-relative p {
    font-size: 16px;
    color: #595959;
    font-weight: 300;
    margin: 30px 0 0px;
}
.practice_wrap .col-md-4:nth-child(1) .practice-inner:after {
    content: "01";
}
.practice_wrap .col-md-4:nth-child(2) .practice-inner:after {
    content: "02";
}
.practice_wrap .col-md-4:nth-child(3) .practice-inner:after {
    content: "03";
}
.practice_wrap .col-md-4 .practice-inner:after {
    position: absolute;
    font-size: 75px;
    z-index: -1;
    color: #eeeeee;
    line-height: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    bottom: 220px;
    font-weight: 500;
}
.practice_wrap h6 {
    text-align: center;
    color: #999999;
    font-size: 16px;
    margin: 0 0 20px;
}
.practice_wrap h2 {
    text-align: center;
    color: #42495b;
    font-weight: 700;
    position: relative;
    padding: 0 0 180px;
}
.practice_wrap h2 span {
    color: #04d2c8;
}
.practice_wrap h2::before {
    content: "";
    height: 6px;
    width: 6%;
    background-color: #ff9a00;
    position: absolute;
    top: 60px;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
}

/*.slick-slider*/

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.blue {
    background: #3498db;
}
.blue h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.slick-slide .image {
    padding: 10px;
}
.slick-slide img {
    display: block;
}
.slick-slide img.slick-loading {
    border: 0
}
.slick-slider {
    margin: 30px auto 50px;
}
.inner-main-slider {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 50px;
}
.testi-main {
    background-color: #f7f7f7;
    padding: 70px 0;
}
.slick-slide img {
    display: block;
    margin: 0 auto 20px;
}
.content-slide p {
    font-size: 14px;
    font-weight: 400;
}
.slick-slide.slick-current.slick-active.slick-center .inner-main-slider {
    background-color: #04d2c8;
    color: #ffffff;
}
.slick-slide.slick-current.slick-active.slick-center .inner-main-slider p {
    font-size: 15px;
}
.inner-main-slider {
    width: 90% !important;
}
.round_img {
    position: relative;
}
.round_img img {
    position: absolute;
    top: 5px;
    right: 135px;
    text-align: center;
}
.slick-list.draggable {
    padding: 0 0 !important;
}
section.my-testimonial.slider.slick-initialized.slick-slider.slick-dotted {
    text-align: center;
}
.text_inner label {
    font-size: 12px;
    color: #050505;
}

/*Footer*/

.social_icon {
    display: flex;
    justify-content: space-between;
}
footer {
    background-color: #3e436b;
    padding: 70px 0;
}
.social_icon .right {
    display: flex;
}
.copyright {
    background-color: #3e436b;
    padding: 20px 0;
    border-top: 1px solid #ffffff;
}
.social_icon .right p {
    margin: 0 0 0 20px;
}
.social_icon .left p a {
    color: #ffffff;
    font-size: 16px;
}
.inner-footer a.logo-footer {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}
.inner-footer p {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}
.inner-footer h4 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.menu-footer li a {
    font-size: 14px;
    color: #ffffff;
}
.add-footer .left,
.add-footer .right {
    display: flex;
    align-items: center;
}
.add-footer .left img, 
.add-footer .right img {
    margin: 0 10px 0 0px;
}
button.input-group-append {
    background-color: #ff9a00;
    padding: 10px 20px;
    border-radius: 0px 5px 5px 0px;
}
form.input-group input.form-control.form-control-sm {
    padding: 12px 10px;
    border-radius: 5px 0px 0px 5px;
}
form.input-group {
    width: 80%;
}
.text_inner {
    display: flex;
    justify-content: space-around;
}

/*Login-page*/

.Login-banner {
    background-image: url(/assets/login-banner.png);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    height: 880px;
}
.form_wrap {
    border-radius: 10px;
    background-color: #ffffff;
    width: 430px;
    padding: 40px 50px;
}
.Login-banner .form_wrap h2 {
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    color: #42495b;
    text-transform: inherit;
    margin: 0;
}
.form_wrap label {
    font-size: 15px;
    color: #595959;
    margin: 30px 0 0;
}
.form_wrap form .form-group input {
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    color: #e1e1e1;
}
.forgot {
    text-align: right;
    margin: 0 0 10px;
}
.forgot label {
    margin: 0 0 30px;
    font-size: 14px;
}
.form_wrap button a {
    color: #ffffff;
    font-size: 18px;
}
.Login-banner form {
    padding: 30px 0 0 0;
}
.Login-banner button {
    background-color: #ff9a00;
    border: none;
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 8px;
}
.text {
    text-align: center;
}
.text label {
    font-size: 12px;
    color: #595959;
}
.text span {
    color: #ff9a00;
    margin: 0 0px 0 8px;
}
.form-group input::placeholder {
    color: #999999;
    font-size: 14px;
}
button.required-inner {
    background-color: #3e436b;
    border: none;
    padding: 20px 60px;
    position: absolute;
    left: -120px;
    z-index: 99;
    transform: rotate(-90deg);
    top: 520px;
}
button.required-inner a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}
.Login-banner h2 {
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    margin: 0 0 20px;
    text-transform: initial;
}
.Login-banner p {
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    line-height: 35px;
    margin: 0;
}
.login_inner {
    display: flex;
    align-items: center;
}
.login_inner .right {
    margin: 0 0 0 120px;
}


/*register-page*/

.register-banner {
    background-image: url(/assets/login-banner.png);
    /*padding: 120px 0;*/
    background-repeat: no-repeat;
    background-position: center;
    height: 950px;
}
.register-banner .form_wrap-inner {
    border-radius: 10px;
    background-color: #ffffff;
    width: 430px;
    padding: 40px 50px;
}
.register-banner .form_wrap-inner h2 {
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    color: #42495b;
    text-transform: inherit;
    margin: 0;
}
.register-banner form .form-group input {
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    /*color: #e1e1e1;*/
}
.register-banner .forgot {
    text-align: right;
    margin: 0 0 10px;
}
.register-banner .forgot label {
    margin: 0 0 30px;
    font-size: 14px;
}
.register-banner button a {
    font-size: 18px;
    color: #ffffff;
}
.register-banner .Login-banner form {
    padding: 30px 0 0 0;
}
.register-banner button {
    background-color: #ff9a00;
    border: none;
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 8px;
}
.register-banner .text {
    text-align: center;
}
.register-banner .text label {
    font-size: 12px;
    color: #595959;
}
.register-banner .text span {
    color: #ff9a00;
    margin: 0 0px 0 8px;
}
.register-banner form .form-group input::placeholder {
    color: #999999;
    font-size: 14px;
}
.register-banner button.required-inner {
    background-color: #3e436b;
    border: none;
    padding: 20px 60px;
    position: absolute;
    left: -120px;
    z-index: 99;
    transform: rotate(-90deg);
    top: 520px;
}
.register-banner button.required-inner a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}
.register-banner .login_inner .right h2 {
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    margin: 0 0 20px;
    text-transform: initial;
}
.register-banner .login_inner p {
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    line-height: 35px;
    margin: 0;
}
.register-banner .login_inner {
    display: flex;
    align-items: center;
}
.register-banner .login_inner .right {
    margin: 0 0 0 120px;
}
.form_wrap-inner img {
    margin: 40px auto 0;
    display: block;
}
.form_wrap-inner {
    text-align: center;
}
.form_wrap-inner label {
    margin: 0;
    padding: 20px 0;
}
.form_wrap-inner label {
    font-size: 16px;
    color: #999999;
}
.edit_arrow {
    position: relative;
}
.edit_arrow a img {
    position: absolute;
    left: 90px;
    right: 0px;
    bottom: 0px;
}

/*content css*/

section.page_wrap {
    display: flex;
}
.content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0;
}
.content_header .box label ~ label {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0px 0 7px;
}
.content_header .box label {
    color: #888888;
    font-size: 14px;
}
.content_header  .box_inner {
    margin: 0 20px 0 0;
    padding: 0px 70px 15px 0;
}
.content_header .box:last-child {
    border: none;
    padding: 0 0 0 70px;
    margin: 0;
}
.content_header .box button {
    background-color: #00a652;
    border: none;
    color: #ffffff;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.content_header .box button ~ button {
    background-color: #17375e;
    margin: 0 0 0 7px;
}
.content_header .left, .content_header .right {
    display: flex;
    align-items: center;
}
.content_wrap {
    width: 100%;
    margin: 0;
}
.content_header .right .account {
    margin: 0 0 0 15px;
    position: relative;
}
div#account-data,
div#notification {
    position: absolute;
    right: 0;
    z-index: 1;
}
div#account-data,
div#notification ul {
    margin: 10px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px 20px;
}
div#account-data ul li a,
div#notification ul li a {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}
div#notification {
    width: 230px;
}
.notification {
    position: relative;
}
div#notification li {
    background-color: #f1f1f1;
    padding: 10px;
    line-height: normal;
}
div#notification ul li a {
    font-size: 12px;
}
div#notification li {
    background-color: #f1f1f1;
    padding: 4px 10px 8px;
    line-height: normal;
}
div#notification ul {
    padding: 10px 10px;
}
.data_one {
    display: flex;
    justify-content: space-between;
}
.data_one .box ~.box {
    width: 67%;
    text-align: left;
    justify-content: flex-start;
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
}
.data_one .box {
    width: 33%;
    background-color: #ffffff;
    box-shadow: -0.977px 2.837px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0;
}
.content_inner {
    background-color: #f5f6f7;
    padding: 25px 30px;
    height: 120vh;
}
.data_one .box .time {
    text-align: left;
    padding: 0 0 0 20px;
}
.data_one .box .time .city {
    display: flex;
    align-items: center;
}
.data_one .box .time .city .city_name label {
    font-size: 10px;
    font-weight: 800;
    color: #333333;
}
.data_one .box .time .city .city_name label~ label {
    font-size: 10px;
    font-weight: 400;
    color: #888888;
    display: block;
    margin-top: -8px;
}
.data_one .box .time .city .city_name {
    margin: 0 0 0 5px;
}
.data_one .box .time .city~label {
    font-size: 27px;
    font-weight: 600;
    color: #333333;
}
.data_one .box .watch,
.data_one .box .watch img  {
    height: 55px;
    width: 55px;
}
.data_one .box ~.box label {
    color: #333333;
    font-size: 16px;
}
.data_one .box ~.box ul {
    list-style: none;
    display: flex;
    color: #888888;
    margin: 0;
}
.data_one .box ~.box ul li {
    border-right: 1px solid #888888;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
}
.data_one .box ~.box ul li:last-child {
    border-right: none;
}
.count_wrap {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}
.count_wrap .box {
    width: 33%;
    box-shadow: -0.977px 2.837px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 10px 20px;
    background-color: #ffffff;
    margin: 0 15px 0 0;
}
.count_wrap .box:nth-of-type(2) {
    margin: 0 0 0 13px;
}
.count_wrap .box:nth-of-type(3) {
    margin: 0 0 0 0;
}
.box-wraper_inner .box {
    width: 50%;
    margin: 0 15px 0 0;
}
.box-wraper_inner {
    display: flex;
    justify-content: space-between;
    width: 67%;
    margin: 0 0 0 15px;
}
.box-wraper_inner .box:last-child {
    margin: 0;
}
.count_wrap .top label {
    font-size: 14px;
    color: #888888;
}
.count_wrap .top,
.count_wrap .bottom {
    display: flex;
    justify-content: space-between;
}
.count_wrap .top label~label {
    color: #00a652;
}
.count_wrap .bottom label ~ label {
    color: #e60000;
    font-size: 14px;
}
.count_wrap .bottom label {
    font-weight: 500;
    font-size: 18px;
}
.tabel_wrap,
.new_main {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}
.tabel_wrap .left,
.tabel_wrap .right,
.new_main .left,
.new_main .right {
    background-color: #ffffff;
    width: 50%;
    border-radius: 4px;
    border-top: 2px solid #333333;
}
.tabel_wrap h5,
.new_main  h5 {
    font-size: 17px;
    margin: 0;
    padding: 15px 15px 10px;
    border-bottom: 2px solid #f6fbff;
}
.tabel_wrap table.table th, .tabel_wrap table.table td {
    border: none;
    padding-left:15px;
    padding-right: 15px;
}
.tabel_wrap table.table tbody tr {
    background-color: #f6fbff;
}
.tabel_wrap table.table tbody tr:nth-child(2n+2) {
    background-color: #ffffff;
}
.tabel_wrap table.table tbody tr td:last-child.plus {
    color: #00a652;
}
.tabel_wrap table.table tbody tr td:last-child {
    color: #e60000;
}
.tabel_wrap table.table td {
    color: #888888;
}
.tabel_wrap .left,
.new_main .left {
    margin: 0 15px 0 0;
}
.tabel_wrap .right,
.new_main .right {
    margin: 0 0 0 15px;
}
.new_main ul {
    list-style: none;
}
.new_main ul li {
    padding: 10px 15px;
}
.new_main ul li a {
    color: #0066d4;
    font-weight: 500;
    font-size: 14px;
}
.new_main ul li label {
    color: #888888;
    font-size: 14px;
    display: block;
}
.new_main ul li:nth-child(2n+2) {
    background-color: #f6fbff;
}
.content_header button.menu {
    width: 40px;
    border: none;
    background-color: #333333;
    height: 30px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 0 10px 0 0;
    cursor: pointer;
    outline: none;
    display: none;
    position: absolute;
    left: -999em;
}
.content_header  button.menu img {
    width: 20px;
}
.user_name h5 {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}
.user_name label {
    color: #888888;
    font-size: 16px;
}
div#account-data {
    padding: 0;
}
div#account-data .user_name {
    padding: 15px 15px;
    border-bottom: 1px solid #cccccc;
}
div#account-data ul {
    margin: 0;
    padding: 20px 15px;
    list-style: none;
}
div#account-data ul li img {
    margin: 0 10px 0 0;
    width: 16px;
    height: 16px;
}
div#account-data ul li {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}
div#account-data ul li a {
    font-size: 16px;
    color: #888888;
}
div#account-data ul li:last-child {
    margin: 0;
}
.mobile.account.heading {
    position: absolute;
    left: -999em;
}
#sidebar {
    min-width: 220px;
    max-width: 220px;
    background: #3e436b;
    color: #fff;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    background: #3e436b;
    padding: 30px 20px;
    margin: 0 0 40px 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.box_inner {
    position: relative;
}
.box_inner:before {
    content: "";
    background-color: #000000;
    height: 1px;
    width: 45px;
    position: absolute;
    transform: translate(20%, -50%);
    top: 35%;
    right: 122px;
}
.content_header .box {
    margin: 0 20px 0 0;
    padding: 15px 70px 15px 0;
}
.box_content img {
    width: 100%;
}
.content_header .left .box h4 {
    font-size: 30px;
    color: #cccccc;
    width: 199px;
}
.box .form-group input#usr {
    padding: 4px 30px;
}
.box_content {
    padding: 0 0px 0 10px;
}
.box_content label {
    font-size: 10px;
    color: #8c8c8c;
}
.box_content h6 {
    font-size: 14px;
    height: 10px;
    margin: 0;
}
.content_header .box .form-group {
    position: relative;
}
.content_header .box .form-group img {
    position: absolute;
    top: 8px;
    right: 20px;
}
.logo a {
    font-size: 30px;
    color: #ffffff;
}
ul.list-unstyled.components li {
    font-size: 14px;
    padding: 0px 20px;
}
ul.list-unstyled.components li a {
    color: #ffffff;
    font-size: 14px;
}
.sidebar_wrap {
    background-color: #3e436b;
}
nav#sidebar ul.list-unstyled {
    line-height: 45px;
}
li.active {
    background-color: #2a2f51;
}
ul.list-unstyled li img {
    padding: 0 10px 0 0px;
    width: 25px;
}
.colum {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 25px 25px;
    border-radius: 15px;
}
.colum .right label {
    font-size: 28px;
    color: #04d2c8;
    margin: 0;
}
.colum .right h5 {
    font-size: 16px;
    color: #1c2136;
    margin: 0;
}
.colum .left {
    background-color: #e1bdeb;
    padding: 12px 12px;
    border-radius: 15px;
    margin: 0 15px 0 0;
}
.colum .left-student {
    background-color: #1eca73;
    padding: 12px 12px;
    border-radius: 15px;
    margin: 0 15px 0 0;
}
.colum .left-book {
    background-color: #9668b6;
    padding: 12px 12px;
    border-radius: 15px;
    margin: 0 15px 0 0;
}
.colum .left-schedule {
    background-color: #ebb8b8;
    padding: 12px 12px;
    border-radius: 15px;
    margin: 0 15px 0 0;
}
ul.list-unstyled li.staff_inner img {
    width: 30px;
}
.cart-wrap {
    position: relative;
}
.cart-wrap img {
    width: 24px;
}
.cart-wrap span {
    position: absolute;
    right: 8px;
    background-color: #ff9a00;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    color: #000000;
    top: -4px;
}
.cart-wrap div#cart-list, 
.cart-wrap div#notification-list {
    position: absolute;
    right: 0;
    width: 200px;
    top: 45px;
}
#cart-list .card.card-body ul {
    margin: 0;
}
.table_inner {
    background-color: #ffffff;
    margin: 30px 0 0;
    border-radius: 15px;
    padding: 30px 0;
    height: 350px;
}
.table_inner img {
    width: 100%;
}
.events_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 20px;
}
.events_table {
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 15px;
    height: 200px;
}
.events_inner .left h4 {
    color: #1c2136;
    font-size: 18px;
}
.events_inner .right span {
    font-size: 14px;
    color: #3e436b;
    margin: 0;
}
.events_inner .left span {
    color: #3e436b;
    font-size: 14px;
}
.events_table-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.events_table-inner .content h6 {
    color: #9394a1;
    font-size: 13px;
}
.events_wrap {
    padding: 30px 0 0;
}
.events_table h4 {
    font-size: 16px;
    color: #1c2136;
    text-align: center;
}
.events_table span {
    font-size: 12px;
    color: #bcb3b3;
    display: block;
    text-align: center;
    margin: 0 0 10px;
}
.events_table label {
    font-size: 42px;
    color: #3e436b;
}
.events_table label {
    font-size: 42px;
    color: #3e436b;
    display: block;
    text-align: center;
}
.events_table a {
    color: #04d2c8;
    font-size: 12px;
    display: block;
    text-align: center;
}
.events_table a img {
    width: 10px;
    margin: 0 0 0 5px;
}

/*Staff Management*/

.management_wrap h4 {
    font-size: 28px;
    color: #cccccc;
}
.management_wrap {
    padding: 25px 30px;
}
.management_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 991px) {
a.navbar-brand {
    font-size: 20px;
}
header li.nav-item a {
    font-size: 14px;
}
.sign-header button {
    font-size: 12px;
}
.banner-content h1 {
    font-size: 40px;
    width: 100%;
}
}
@media only screen and (max-width: 767px) {
.col-md-4 {
    margin-bottom: 20px;
}
div#collapsibleNavbar {
    background: #eee;
    margin-top: 10px;
}
.banner-content {
    width: 100%;
}
.signin-top.sign-header {
    margin-right: 10px;
}
button.navbar-toggler {
    padding: 1px 2px;
}
.sign-header button {
    font-size: 12px;
    padding: 7px 7px;
}
header li.nav-item {
    text-align: left;
}
.banner {
    min-height: 600px;
    background-position: 38%;
}
}
@media only screen and (max-width: 576px) {
.banner {
    min-height: 500px;
    background-position: 48%;
}
}
@media only screen and (max-width: 414px) {
.sign-header button {
    font-size: 11px;
    padding: 5px 5px;
}
a.navbar-brand {
    font-size: 16px;
}
}